<mat-card appearance="outlined" class="product-list__item product-card">
    <img
        mat-card-image
        src="../../../../assets/img/products/bag-qg.webp"
        alt="Bag Fitness"
        class="product-card__img"
    />
    <mat-card-header class="product-card__header">
        <mat-card-title>5 000 ₽</mat-card-title>
        <mat-card-subtitle class="product-card__name">Bag Fitness</mat-card-subtitle>
        <mat-card-subtitle class="product-card__brand">Queen Gym</mat-card-subtitle>
    </mat-card-header>
</mat-card>
