<mat-toolbar color="primary">
    <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="onClick($event)"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <img src="{{imageSrc}}"> -->
    <!-- <img [src]="imageSrc"> -->
    <img alt="ShopIcon" [src]="applicationConfig?.shopIconSrc" />
    <span>{{ applicationConfig?.title }}</span>
    <!-- <span>{{title}}</span> -->
    <!-- <span>{{getTitle()}}</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon" class="favorite-icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
